.record-btn {
  background-color: #e53935; /* red */
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  position: fixed; right: 75px; bottom:620px;
  border-radius: 9999px; /* pill shape */
  cursor: pointer;
  display: center;
  align-items: center;
  gap: 10px;
  transition: transform 0.1s ease; /* removed background-color transition */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.mic-icon {
  font-size: 1.2rem;
}



.stop-button {
background-color:#e53935;
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
   position: fixed; right:275px; bottom:620px;
  border-radius: 9999px; /* pill shape */
  cursor: pointer;
  display: center;
  align-items: center;
  gap: 10px;
  transition: transform 0.1s ease; /* removed background-color transition */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.mic-icon {
  font-size: 1.2rem;
}













